html,
body {
  background-color: #1a1919;
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --hover: #9156F0;
  --hover-bg: #1f1321;
  --active: #F10086;
  --link-hover: #df6b90;
  --dsfsdfsdf: #661772;
}



.swiper {
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 550px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}