.container{
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 1.25rem;
    line-height: 1.5;
    color: white;

    align-self: center;
}

.project{
    max-width: 95ch;
    min-width: 65ch;
    background-color: var(--hover-bg);
    padding: 20px 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.img-container{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.img{
    border-radius: 15px;
}
.caption{
    align-self: center;
    font-style: italic;
}
.return{
    margin: 0 0 0.5em 1em;
    align-self: flex-start;
}
.return:hover {
    color: var(--link-hover);
    cursor: pointer;
}


.icon{
    vertical-align: baseline;
    margin-top: 1px;
}
